* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000;
}

#box {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
}

/* gradient or background image in text. */
h1 {
    font-size: 20px;
    color: transparent;
    background: linear-gradient(orange, white, green);
    background-clip: text;
    -webkit-text-stroke: 0.5px white;
}