* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #fff;
}

main {
  width: 100%;
}
main .notification {
  width: 100%;
  background: linear-gradient(124.64deg, #027dfd, #833ef2);
  color: #fff;
  padding: 1rem 0 1rem 0;
  text-align: center;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 999;
  top: 0;
}
main .notification h4 {
  font-weight: 400;
}
main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: white;
  width: 100%;
  position: fixed;
  top: 3.3rem;
  z-index: 999;
}
main nav .logo {
  width: 8rem;
}
main nav .logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main nav .menu-1200px {
  display: none;
}
main nav .menu-600px i {
  font-size: 1.2rem;
}
main .sec-one {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  padding: 8rem 2rem;
  background: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
  text-align: center;
  gap: 4rem;
}
main .sec-one .top {
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
}
main .sec-one .top h1 {
  font-weight: 600;
  font-size: 2.5rem;
}
main .sec-one .top .img {
  width: 100%;
}
main .sec-one .top .img img {
  width: 100%;
}
main .sec-one .bottom .info h2 {
  font-weight: 300;
  font-size: 1.8rem;
}
main .sec-two {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
  padding: 2rem;
  background: #fff;
}
main .sec-two .card {
  width: 100%;
}
main .sec-two .card hr {
  height: 0.3rem;
  outline: none;
  border: none;
  background: whitesmoke;
}
main .sec-two .card .top {
  margin: 1rem 0;
}
main .sec-two .card .top h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}
main .sec-two .card .top p {
  text-align: justify;
  font-weight: 300;
}
main .sec-two .card .btm {
  width: 100%;
}
main .sec-two .card .btm img {
  width: 100%;
}
main .sec-three {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
  padding: 2rem;
  background: #fff;
}
main .sec-three .top {
  width: 100%;
}
main .sec-three .top img {
  width: 100%;
}
main .sec-three .bottom .first {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .sec-three .bottom .first p {
  font-weight: 300;
}
main .sec-three .bottom .first h1 {
  font-weight: 500;
}
main .sec-three .bottom .buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec-three .bottom .buttons .outline {
  border: 2px solid royalblue;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  color: royalblue;
  font-weight: 400;
}
main .sec-three .bottom .buttons .text-btn {
  font-weight: bold;
  margin-left: 2rem;
}
main .sec-four {
  background: linear-gradient(35deg, #fcfce2 40%, #f5fbfe 90%);
}
main .sec-four .bottom .first h1 {
  font-size: 2.5rem;
}
main .sec-four .bottom .buttons .outline {
  color: #fff;
  background: royalblue;
}
main .sec-sev {
  width: 100%;
  padding: 3rem;
}
main .sec-sev .box {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 2.5rem 1rem;
  border-radius: 50px;
  background: #042449;
  position: relative;
}
main .sec-sev .box .text {
  color: #fff;
  z-index: 3;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec-sev .box .text h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
main .sec-sev .box .text p {
  font-size: 1.2rem;
  font-weight: 400;
}
main .sec-sev .box .text .buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec-sev .box .text .buttons .fill-btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  background: #fff;
  color: #000;
  font-weight: 400;
}
main .sec-sev .box .text .buttons .text-btn {
  font-weight: 400;
  margin-left: 2rem;
}
main .sec-sev .box .media {
  z-index: 1;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
main .sec-sev .box .media img {
  z-index: 1;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main footer {
  width: 100%;
  background: whitesmoke;
  padding: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main footer .logo {
  margin-left: 1rem;
  width: 8rem;
}
main footer .logo img {
  width: 100%;
}
main footer .menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
main footer .menu .links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main footer .menu .links h2 {
  font-size: 1.3rem;
  font-weight: 500;
}
main footer .menu .links a {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 300;
}
main footer .icons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
main footer .icons i {
  font-size: 1.5rem;
}
main footer hr {
  height: 0.1rem;
  border: none;
  width: 100%;
  background-color: grey;
}
main footer .text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main footer .text-container .text {
  text-align: center;
  flex-shrink: 1;
  font-weight: 300;
}
main footer .text-container .pages {
  display: flex;
  gap: 1rem;
  flex-shrink: 1;
  justify-content: center;
}
main footer .text-container .pages p {
  font-weight: 300;
}

@media (min-width: 900px) {
  main {
    max-width: 1900px;
  }
  main nav .menu-1200px {
    display: flex;
    width: 55%;
    justify-content: space-evenly;
    align-items: center;
  }
  main nav .menu-1200px a {
    text-decoration: none;
    font-weight: 500;
    color: #555;
    font-size: 0.85rem;
    cursor: pointer;
  }
  main nav .menu-1200px a i {
    font-size: 1.2rem;
  }
  main nav .menu-1200px a:hover {
    color: royalblue;
  }
  main nav .menu-1200px .blue {
    color: royalblue;
  }
  main nav .menu-1200px .btn-fill {
    outline: none;
    border: none;
    background: royalblue;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    font-weight: 500;
  }
  main nav .menu-600px {
    display: none;
  }
  main .sec-one {
    justify-content: center;
  }
  main .sec-one .top {
    flex-direction: row;
    justify-content: center;
  }
  main .sec-one .top .title {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
  }
  main .sec-one .top .title h1 {
    font-size: 4rem;
  }
  main .sec-one .top .img {
    width: 35%;
  }
  main .sec-one .top .img img {
    width: 100%;
  }
  main .sec-one .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  main .sec-one .bottom .info {
    width: 60%;
  }
  main .sec-two {
    flex-direction: row;
    padding: 5rem;
    margin-top: 0;
  }
  main .sec-two .card {
    flex-shrink: 1;
  }
  main .sec-three {
    padding: 5rem;
    margin-top: 0;
    flex-direction: row-reverse;
  }
  main .sec-three .top {
    padding: 3rem;
  }
  main .sec-three .bottom {
    width: 70%;
    display: flex;
    align-items: center;
  }
  main .sec-three .bottom .buttons {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  main .sec-three .bottom .buttons .outline {
    flex-shrink: 1;
    white-space: nowrap;
  }
  main .sec-three .bottom .buttons .text-btn {
    flex-shrink: 1;
    white-space: nowrap;
  }
  main .sec-four {
    flex-direction: row;
  }
  main .sec-sev .box .text .buttons {
    flex-direction: row;
    align-items: center;
  }
  main footer .menu {
    flex-direction: row;
    justify-content: flex-end;
    gap: 5rem;
  }
  main footer .icons {
    justify-content: flex-start;
    margin-left: 1rem;
  }
  main footer .text-container {
    flex-direction: row;
    justify-content: space-between;
  }
  main footer .text-container .text {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */