*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

html, body{
    height: 100%;
    width: 100%;
    background: #333;
    color: #fff;
}

form{
    margin: 1rem;
    input{
        margin-top: 0.5rem;
        height: 2rem;
        padding-left: 0.2rem;
    }
    select{
        margin-top: 0.5rem;
    }
    textarea{
        margin-top: 0.5rem;
    }
    #submit{
        display: block;
        margin-top: 0.5rem;
    }
    small{
        margin-bottom: 0.5rem;
        color: crimson;
    }
}
