* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
}

/* 
units & viewport: the real foundation

absolute units:
px: this unit is fixed, & depend on the screen like px varry according to different screen size.

relative units:
percentage(%): depend on parent, take x percent of parent.
vw(viewport width): depends on screen width (horizontal).
vh(viewport height): depends on screen height (vertical).
vmin(depends on minimum width/height) whoever is less in screen.
vmax(depends on maximum width/height) whoever is less in screen.
em: depends on parent, on changing value of parent, child values also change.
rem: depends on root parent, 1rem = 16px by default.

modern units:
ch: manage number of characters in each line.
lh: take space accroding to line height.
*/



/* 
ex: pxiels (px)

h1{
    font-size: 50px;
}

#box{
    height: 200px;
    width: 200px;
    background: crimson;
}

#box .inner{
    height: 100px;
    width: 100px;
    background: coral;
} */

/* 
ex: percentage %
#box{
    height: 50%;
    width: 50%;
    background: crimson;
}

#box .inner{
    height: 25%;
    width: 25%;
    background: cornflowerblue;
} */


/* 
ex: vw or vh
#box {
    height: 20vh;
    width: 20vw;
    background: crimson;
} 
*/

/* 
ex: vmax, vmin
h1 {
    font-size: 10vmax;
}

#box {
    height: 20vmax;
    width: 20vmax;
    background: crimson;
}
*/
/* 
ex: em or rem
#box{
    height: 500px;
    width: 500px;
    background: crimson;
    parent values = em
    font-size: 20px; 
}

#box h1{ 
     here 1em mean 20px, depends on parent sizes.
    font-size: 1.5em;
}
#box p{
    font-size: 1em;
} 
*/

/* 
ex: ch or lh: depend on character -> not preferd
h1{
    width: 20ch; 
    margin-bottom: 3lh;
} 
*/

/* 
    flex-direction: change the direction of flex.
    row: default behaviour of flex.
    column: x-axis become y-axis & y-axis become x-axis.
    column-reverse: flex-start become flex-end, flex-end become flex-start in y-axis.
    row-reverse: same like column-reverse but in x-axis.
*/
/* 
align-items: work on y-axis by default
    - flex-start: move item to start of x-axis.
    - flex-end: move item to end of x-axis.
    - center: move item to the center of x-axis.
*/

/* 
justify-content: work on x-axis by default 
    - flex-start: move item to start of x-axis.
    - flex-end: move item to end of x-axis.
    - center: move item to the center of x-axis.
    - space-betweeen:  give space between the elements.
    - space-around: give space around the elements.
    - spece-evenly: add even space between the elements
*/

/* 
    flex-wrap:
        wrap: element will stop shrink, & move into next line
        nowrap: element will shrink & move into next line.
    flex-shrink: (child)
        0: shrink flase mean element will be shrink
*/

#parent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
    justify-content: flex-start;
    flex-wrap: nowrap;
}

/* #child1 {
    height: 200px;
    width: 200px;
    background: crimson;
    border: 1px solid #fff;
    flex-shrink: 1;
} */
/* 
#child2 {
    height: 200px;
    width: 200px;
    background: coral;
    border: 1px solid #fff;
}

#child3 {
    height: 200px;
    width: 200px;
    background: whitesmoke;
    border: 1px solid #fff;
}

#child4 {
    height: 200px;
    width: 200px;
    background: orange;
    border: 1px solid #fff;
}

#child5 {
    height: 200px;
    width: 200px;
    background: green;
    border: 1px solid #fff;
} */

main{
    background: crimson;
    width: 100%;
    height: 2rem;
}

nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

nav a{
    text-decoration: none;
    color: #fff;
}